/androidx.annotation.annotation-1.1.0.jar.meta
/androidx.arch.core.core-common-2.0.0.jar.meta
/androidx.arch.core.core-runtime-2.0.0.aar.meta
/androidx.asynclayoutinflater.asynclayoutinflater-1.0.0.aar.meta
/androidx.collection.collection-1.0.0.jar.meta
/androidx.coordinatorlayout.coordinatorlayout-1.0.0.aar.meta
/androidx.core.core-1.0.0.aar.meta
/androidx.cursoradapter.cursoradapter-1.0.0.aar.meta
/androidx.customview.customview-1.0.0.aar.meta
/androidx.documentfile.documentfile-1.0.0.aar.meta
/androidx.drawerlayout.drawerlayout-1.0.0.aar.meta
/androidx.fragment.fragment-1.0.0.aar.meta
/androidx.interpolator.interpolator-1.0.0.aar.meta
/androidx.legacy.legacy-support-core-ui-1.0.0.aar.meta
/androidx.legacy.legacy-support-core-utils-1.0.0.aar.meta
/androidx.lifecycle.lifecycle-common-2.0.0.jar.meta
/androidx.lifecycle.lifecycle-livedata-2.0.0.aar.meta
/androidx.lifecycle.lifecycle-livedata-core-2.0.0.aar.meta
/androidx.lifecycle.lifecycle-runtime-2.0.0.aar.meta
/androidx.lifecycle.lifecycle-viewmodel-2.0.0.aar.meta
/androidx.loader.loader-1.0.0.aar.meta
/androidx.localbroadcastmanager.localbroadcastmanager-1.0.0.aar.meta
/androidx.print.print-1.0.0.aar.meta
/androidx.slidingpanelayout.slidingpanelayout-1.0.0.aar.meta
/androidx.swiperefreshlayout.swiperefreshlayout-1.0.0.aar.meta
/androidx.versionedparcelable.versionedparcelable-1.0.0.aar.meta
/androidx.viewpager.viewpager-1.0.0.aar.meta
/com.android.installreferrer.installreferrer-1.1.1.aar.meta
/com.google.android.gms.play-services-ads-identifier-17.0.0.aar.meta
/com.google.android.gms.play-services-base-17.0.0.aar.meta
/com.google.android.gms.play-services-basement-17.0.0.aar.meta
/com.google.android.gms.play-services-measurement-17.4.1.aar.meta
/com.google.android.gms.play-services-measurement-api-17.4.1.aar.meta
/com.google.android.gms.play-services-measurement-base-17.4.1.aar.meta
/com.google.android.gms.play-services-measurement-impl-17.4.1.aar.meta
/com.google.android.gms.play-services-measurement-sdk-17.4.1.aar.meta
/com.google.android.gms.play-services-measurement-sdk-api-17.4.1.aar.meta
/com.google.android.gms.play-services-stats-17.0.0.aar.meta
/com.google.android.gms.play-services-tasks-17.0.0.aar.meta
/com.google.auto.value.auto-value-annotations-1.6.5.jar.meta
/com.google.code.gson.gson-2.8.5.jar.meta
/com.google.firebase.firebase-analytics-17.4.1.aar.meta
/com.google.firebase.firebase-analytics-unity-6.15.2.aar.meta
/com.google.firebase.firebase-app-unity-6.15.2.aar.meta
/com.google.firebase.firebase-common-19.3.0.aar.meta
/com.google.firebase.firebase-components-16.0.0.aar.meta
/com.google.firebase.firebase-iid-20.1.5.aar.meta
/com.google.firebase.firebase-iid-interop-17.0.0.aar.meta
/com.google.firebase.firebase-installations-16.2.1.aar.meta
/com.google.firebase.firebase-installations-interop-16.0.0.aar.meta
/com.google.firebase.firebase-measurement-connector-18.0.0.aar.meta
/com.squareup.okhttp3.okhttp-3.12.0.jar.meta
/com.squareup.okio.okio-1.15.0.jar.meta
/com.squareup.retrofit2.converter-gson-2.6.2.jar.meta
/com.squareup.retrofit2.converter-scalars-2.5.0.jar.meta
/com.squareup.retrofit2.retrofit-2.6.2.jar.meta
/ir.metrix.unity-0.15.5.aar.meta
